body.modal-open {
  overflow: hidden;
}
.wrapper-app {
  position: relative; /* allow absolute children */
  height: 80vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden; /* prevent image from overflowing */
}

.wrapper-Img {
  position: absolute; /* take it out of normal flow */
  top: 0;
  left: 0;
   /* cover full wrapper */
  height: 100%; /* cover full wrapper */

  z-index: 0; /* sit behind content */
  filter: brightness(40%); /* darken for readability */
}

.wrapper-contents {
  position: relative; /* ensure text stays above */
  z-index: 1; /* higher than image */
  margin-left: 100px;
  margin-right: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertically center */
  align-items: center; /* horizontally center */
}

.heroH5 {
  color: #fff;
  font-size: xx-large;
  font-weight: 900;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px;
}

.buttons {
  display: flex;
  justify-content: center; /* Centers buttons horizontally */
  gap: 20px; /* Space between buttons */
  align-items: center;
}

.link {
  color: white;
  border: none;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  padding: 0.3em 1em;
  line-height: 1.7em !important;
  background-color: transparent;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  border: 2px solid;
  border-radius: 3px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.link:hover {
  color: black; /* optional hover effect */
  transition: color 300ms ease 0ms;
  cursor: pointer;
  background: #fff;
  border: none;
  transform: translateY(-3px);
}

.dropdownProfile {
  position: absolute;
  top: 4.5rem;
  width: 120px;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid gray;
  display: block;
}
.dropdownProfile::before {
  content: "";
  position: absolute;
  top: -0.7rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: #fff;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}
.droplist {
  display: block;
  position: relative;
  align-content: center;
  align-items: center;
}
.droplist li {
  padding: 2px;

  border-bottom: 1px solid #000;
}
.droplist li:hover {
  background-color: rgb(201, 201, 201);
  text-decoration-line: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 2px;
  color: #3d5afe;
  cursor: pointer;
  border: none;
}


/* For Mobile */
@media screen and (max-width: 540px) {
    .wrapper-app {
    
        height :400px;
    }
    .heroH5{
      font-size:10px ;
      font-weight: 700;
    }
    .wrapper-contents{
      width:50% ;
    }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .wrapper-app {
        width: 600px;
    }
}
