.gallery-section {
  padding: 20px;
  background-color: rgb(111, 233, 134);
}
.gallery-contents {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}
.gallery-head {
  align-items: center;
  justify-content: center;
  display: block;
  width: 50%;
}
.gallery-title {
  font-size: 24px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
  padding: 5px;

  color: #000;
}
.gallery-story {
  color: #000;
  padding-top: 20px;
  padding-right: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}
.carousel {
  width: 40%;
  height: 40vh;
  position: relative;
  padding: 30px;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  display: none;
}
.slideImg {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.slide.active {
  display: block;
  opacity: 1;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-button {
  position: absolute;
  background: none;
  z-index: 2;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 30px;
}

.carousel-button.next {
  right: 10px;
}


/* For Mobile */
@media screen and (max-width: 540px) {
   
   .gallery-contents{
    width:100% ;
    display: block;
    align-items:center ;
    justify-content: center;
   }
   .gallery-title{
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .gallery-story{
    margin-right:10px ;
    
     display: flex;
    align-items: center;
    justify-content: center;
    width:200px ;
   }
   .carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height:200px ;
    border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
   }
 
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .gallery-section {
        width: 600px;
    }
}
