.navbar {
  height: 12vh;
  display: flex;
  align-items: center;
  /* Push links to left, logo to right */
  padding: 20px; /* Optional side spacing */
}
.navbar-contents {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
img {
  height: 60px;
  width: 60px;
  background-image: url(images/credilogo.png);
  background-size: cover;
  background-position: center;
  align-items: center;
  border-color: none;
}
.logo h1 {
  font-size: small;
  display: flex;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
}
.links {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  gap: 30px; /* Space between nav items */
  list-style: none;
  margin: 0;
  padding: 0;
}
.links ul li a,
.links ul li Link {
  cursor: pointer;
  text-decoration: none; /* optional: remove underline */
  color: inherit; /* optional: keep same text color */
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  font-size: 16px;
  transition: color 0.3s ease; /* smooth hover effect */
}

.links ul li a:hover,
.links ul li Link:hover {
  color: rgb(15, 60, 129); /* change color on hover */
}
/* navbar.css */
.navbar ul li {
  position: relative; /* needed for absolute child */
}

.dropdownProfile,
.dropdown {
  display: none;
  position: absolute;
  top: 100%; /* show below the parent li */
  left: 0;
  background: white;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.navbar ul li:hover .dropdownProfile,
.navbar ul li:hover .dropdown {
  display: block;
  cursor: pointer;
}


/* For Mobile */
@media screen and (max-width: 540px) {
    .navbar {
        height:80px;
      
    }
    
    .logo{
      display: flex;
      left: 30px;
      position: absolute;
    }
    .links{
      display: flex;
      right: 30px;
      position: absolute;
    }
    
    
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .navbar {
        width: 600px;
    }
}
