.partner-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background: rgb(240, 128, 36);
  padding: 20px;
  height: 30vh;
}
.partner-content {
  margin-left: 100px;
  margin-right: 100px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.partners-title {
  width: 30%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.partnersName {
  font-size: 24px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
}
.main-container {
  width: 70%;
  position: relative; /* important for button positioning */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardy {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* show 3 images */
  gap: 20px;
  padding-right: 10px;
}
.PartnerCard {
  background: #fff;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.PartnerCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

.PartnerCard img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}

.carousel-button {
  position: absolute; /* place on top of cardy */
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}

.carousel-button.prev {
  left: -2rem; /* move to far left */
  color: #000;
}

.carousel-button.next {
  right: -1.4rem; /* move to far right */
  color: #000;
}

.carousel-button:hover {
  background: rgba(0, 0, 0, 0.1);
}


/* For Mobile */
@media screen and (max-width: 500px) {
  .partner-container{
    height:200px ;
    
    
  }
  .partner-content{
    display: block;
    width: 100%;
  }
  .partners-title{
    font-size: 13px;
 align-items: center;
 justify-content: center;
 display: flex;
  }
  p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
  }
  .carousel-button{
    padding: 3px;
  }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .partner-container {
        width: 600px;
    }
}
