.Section1 {
  padding: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

/* Wrapper */
.Section1-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Card */
.card {
  min-height: 250px;
  display: flex;
  flex-direction: row;
  padding: 15px;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  border-radius: 30px;
  width: 90%;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

/* Image */
.card-img {
  width: 45%;
  height: 200px;
  object-fit: contain;
  border-radius: 30px;
}

/* Text */
.card-body {
  width: 100%;
}

.card-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  font-weight: 800;
}

.card-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}

/* =========================
   MOBILE (Phones)
   ========================= */
@media screen and (max-width: 540px) {
  .Section1 {
    margin-left: 1;
    margin-right: 1;
    padding: 20px;
  }

  .card {
    width:100% ;
    
    flex-direction: column;
    text-align: center;
    
  }

  .card-img {
    width: 100%;
    height: 180px;
  }

  .card-title {
    font-size: 20px;
  }
}

/* =========================
   TABLETS
   ========================= */
@media screen and (min-width: 541px) and (max-width: 780px) {
  .Section1 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .card {
    gap: 15px;
  }

  .card-img {
    width: 40%;
  }
}
