.section2 {
  padding: 30px;
  height: 20vh;
  background-color: black;
}

.sec-img {
  padding: 10px;
  height: 90%;
  border-radius: 50%;
  background-color: #fff;
  align-items: center;
  background-image: url(images/sunset.jpg);
  background-size: cover;
  background-position: center;
}

.sec-img h5 {
  color: #efefe5;
  font-size: xx-large;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  align-items: center;
  display: flex;
  justify-content: center;
}

.section2b {
  padding: 30px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 equal columns */
  gap: 20px;
  align-items: stretch;
}

.Sec-card2 .card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  overflow: hidden;
  width: 16rem; /* Same as Bootstrap's default card width */
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  height: 100%;
}
.card2 img {
  background-size: cover;
  background-position: center;
  background: transparent;
  background-color: #fff;
}
.card2-img-top {
  width: 100%;
  height: 180px;
  object-fit: cover; /* Gray placeholder background */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  border-right: 3px solid #000;
}

.card2-body {
  padding: 1rem;
}

.card2-title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.card2-text {
  margin-bottom: 1rem;
  color: #212529;
}
