.section2 {
  padding: 20px;
}
.section2-contents {
  margin-left: 100px;
  margin-right: 100px;
}
.sec-img {
  height: 50%;
}

.sec-img h5 {
  color: #000;
  font-size: xx-large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
  align-items: center;
  display: flex;
  justify-content: center;
}
.section2b {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  align-items: stretch;
}

.Sec-card2 .card2 {
  border: 1px solid rgba(0, 0, 0, 0.125);

  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.card2:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.card2-body {
  padding: 1rem;
  flex: 1; /* makes the body stretch */
  display: flex;
  flex-direction: column;
}

.card2 img {
  background-size: cover;
  background-position: center;
  background: transparent;
  background-color: #fff;
}
.card2-img-top {
  width: 100%;
  height: 180px;
  object-fit: cover; /* Gray placeholder background */
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.card2-title {
  font-size: 24px;
  font-weight: 800;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card2-text {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  font-weight: 600;
}


/* For Mobile */
@media screen and (max-width: 540px) {
   
   .section2-contents{
   width:100% ;
   display: flex;
   align-items: center;
   justify-content: center;
   }
   .Sec-card2{
    height: 35vh;
    
     overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
   }
   .Sec-card2::-webkit-scrollbar {
  width: 8px;
}

.Sec-card2::-webkit-scrollbar-thumb {
  background-color: rgb(136, 170, 233);
  border-radius: 4px;
}

.Sec-card2::-webkit-scrollbar-thumb:hover {
  background-color: rgb(25, 95, 225);
}

.Sec-card2::-webkit-scrollbar-track {
  background: transparent;
}
  
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    
}
