.section3 {
  padding: 20px;
  background-color: #d7e4ef;
}
.sec3-img {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 10vh;
  padding: 15px;
}
.sec3-img img {
  height: 15vh;
  width: 40%;
  background: transparent;
}
.sec3-form {
  background-color: #e6f0ff; /* Light NGO-friendly color */
  display: flex;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
}

.form-details {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  color: #333;
}

input,
textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}
input:focus,
textarea:focus {
  border: 1px solid rgb(203, 221, 235);
  box-shadow: 0 0 5px rgb(162, 182, 206);
  outline: none;
}

textarea {
  resize: vertical;
}

.btn-submit {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #3d5afe;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #304ffe;
}
