.Section1 {
  padding: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

/* Wrapper */
.Section1-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Card */
.card {
  height: 160px;
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  border-radius: 30px;
  width: 90%;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

/* Image */
.card-img {
  width: 50%;
  height:100%;
  object-fit: contain;
  border-radius: 30px;
  background: transparent;


}

/* Text */
.card-body {
  width: 100%;
  height: 100%;
  padding: 5px;
   border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  display: block;
  align-items: center;
  justify-content: center;
  
  overflow: hidden;
}



.card-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 800;
  padding: -2px;
  

}

.card-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  
}

/* =========================
   MOBILE (Phones)
   ========================= */
@media screen and (max-width: 540px) {
  .Section1 {
    margin-left: 10px;
    margin-right: 10px;
  
  }

   .card {
    flex-direction: column;
    height:auto ;
    width: 100%;
  }

  .card-body {
    width: 100%;
    padding: 15px;
    object-fit: cover;
  }

  .card-img {
    width: 80%;
    height: 150px;
    object-fit: cover;
  }
}
/* =========================
   TABLETS
   ========================= */
@media screen and (min-width: 541px) and (max-width: 780px) {
  .Section1 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .card {
    gap: 15px;
  }

  .card-img {
    width: 40%;
  }
}
