.Section1 {
  padding: 20px;
  margin-right: 100px;
  margin-left: 100px;
}
.Sec-card1 {
  padding: 10px;
  display: block;
  height: 100%;
  width: 100%;
}
.card {
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 100%;
}
.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.card-img {
  width: 50%;
  height: 200px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.card-body {
  width: 100%;
}
.card-title {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  font-weight: 800;
}
.card-text {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
