.section3 {
  padding: 20px;
  background: #0c184b;
}
.section3-title {
  font-size: 24px;
  font-weight: 800;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec3-form {
  background-color: #e6f0ff; /* Light NGO-friendly color */
  display: flex;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  margin-left: 100px;
  margin-right: 100px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.form-details {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  color: #333;
}

label {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}
input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
input:focus,
textarea:focus {
  border: 1px solid rgb(203, 221, 235);
  box-shadow: 0 0 5px rgb(162, 182, 206);
  outline: none;
}

textarea {
  resize: vertical;
}

.btn {
  color: #fff;
  border: none;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  padding: 0.3em 1em;
  line-height: 1.7em !important;
  background-color: #0c184b;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  border: 2px solid;
  border-radius: 3px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn:hover {
  color: #0c184b; /* optional hover effect */
  transition: color 300ms ease 0ms;
  cursor: pointer;
  background: #fff;
  border: none;
  transform: translateY(-3px);
}



/* For Mobile */
@media screen and (max-width: 540px) {
    
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
   
}
