.Section1 {
  padding: 20px;
  margin-right: 100px;
  margin-left: 100px;
}
.Sec-card1 {
  padding: 10px;
  display: block;
  height: 100%;
  
}
.card {
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 100%;
}
.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.card-img {
  width: 50%;
  height: 200px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.card-body {
  width: 100%;
}
.card-title {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  font-weight: 800;
}
.card-text {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}


/* For Mobile */
@media screen and (max-width: 540px) {
    
    .Section1-wrapper{
      width:100% ;
    
      
    }
    .card-img{
      width:100% ;
    }
    .card{
      display: block;
      align-items: center;
      justify-content: center;
    }
    .card-title{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .card-body{
    
      align-items: center;
      justify-content: center;
          
    }
    
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .wrapper {
        width: 600px;
    }
}
