.sec4-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(111, 233, 134);
  gap: 50px;
}

/* Lock body scroll when modal is open */
/* body.modal-open {
  overflow: hidden;
} */

/* Shared container styles */
.donation-cont,
.volunteer-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2rem 0;
}

/* Titles */
.donation-title,
.volunteer-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
  margin-bottom: 1rem;
}

/*  SHARED BUTTON STYLE */
.donation {
  color: #a4f3c2;
  background-color: black;
  border: none;
  font-size: 20px;
  font-weight: 500;
  padding: 0.3em 1em;
  line-height: 1.7em !important;
  border-radius: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  transition: all 0.2s ease;
}

/*  SHARED HOVER EFFECT */
.donation:hover {
  color: black;
  background: white;
  transform: translateY(-3px);
}
.volunteer {
  color: #a4f3c2;
  background-color: black;
  border: none;
  font-size: 20px;
  font-weight: 500;
  padding: 0.3em 1em;
  line-height: 1.7em !important;
  border-radius: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  transition: all 0.2s ease;
}

/*  SHARED HOVER EFFECT */
.volunteer:hover {
  color: black;
  background: white;
  transform: translateY(-3px);
}

/* MOBILE */
@media screen and (max-width: 540px) {
  .sec4-buttons {
    flex-direction: column;
    gap: 30px;
    height: auto;
    padding: 30px 15px;
  }
}

/* TABLET */
@media screen and (min-width: 541px) and (max-width: 780px) {
  .sec4-buttons {
    gap: 30px;
    height: auto;
  }
}
